Assets/HI-BC/Models/Male[[:space:]]Doctor/Male[[:space:]]Doctor[[:space:]]Brown[[:space:]]Skin/Male[[:space:]]Doctor[[:space:]]Brown[[:space:]]Skin[[:space:]]CC3.fbxkey filter=lfs diff=lfs merge=lfs -text
Assets/HI-BC/Models/doctor-placeholder.fbx filter=lfs diff=lfs merge=lfs -text
Assets/HI-BC/Models/woman-placeholder.fbx filter=lfs diff=lfs merge=lfs -text
